.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.containerInner {
  width: 100%;
  display: flex;
  justify-content: center;
}

.containerInner h1 {
  color: #000;
  font-size: 22px;
  font-weight: 600;
}

.group {
  display: flex;
  gap: 10px;
}

.group input {
  width: 240px;
  color: #000;
  font-size: 16px;
  border: 2px solid var(--primary-400);
  border-radius: 31px;
  padding: 10px 10px;
}
.btnGroup {
  display: flex;
  gap: 10px;
}

.searchButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: auto;
  font-size: 16px;
  color: #fff;
  background-color: var(--primary-400);
  border: 2px solid var(--primary-400);
  border-radius: 31px;
}
.spinner {
  border: 3px solid transparent;
  border-top: 3px solid #fff;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.clearButton {
  width: 44px;
  font-size: 30px;
  color: #fff;
  background-color: var(--primary-400);
  border: 2px solid var(--primary-400);
  border-radius: 31px;
}

.informations p {
  color: #939393;
  font-size: 16px;
}

@media (max-width: 1270px) {
  .group {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: flex-end;
  }
}


